params.executor = "local"
process.executor = params.executor

conda.cacheDir = params.cacheDir

report.enabled = true //Report can sometimes error when used with Singularity/Docker images, since it doesn't have 'ps'
trace.enabled = true //Trace can sometimes error when used with Singularity/Docker images, since it doesn't have 'ps'
dag.enabled = true

report.file = "results/report.html"
trace.file = "results/trace.txt"
dag.file = "results/dag.svg"
